<% append_title('Users') %>

<%= button_to 'Add User', new_user_path, method: :get %>

<table>
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'email' %></th>
      <th><%= sortable 'role' %></th>
      <th><%= sortable 'created_at', 'Date Added' %></th>
      <th><%= sortable 'updated_at', 'Date Updated' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= l user.created_at, format: :long %></td>
        <td><%= l user.updated_at, format: :long %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure you want to destroy user '#{user.name}'?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
