<% append_title('Users') %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if is_admin? %>
<%= button_to 'Add User', new_user_path, method: :get %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'email' %></th>
      <th><%= sortable 'role' %></th>
      <th>Orders</th>
      <th><%= sortable 'created_at', 'Date Added' %></th>
      <th><%= sortable 'updated_at', 'Date Updated' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
        <% if user.orders.count > 0 %>
          <%= link_to (user.orders.count.to_s + " orders"), orders_path(user_id: user.id) %>
        <% else %>
          0 orders
        <% end %>
        </td>
        <td><%= l user.created_at, format: :long %></td>
        <td><%= l user.updated_at, format: :long %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) if (is_admin? || is_owner?(user.id)) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: "Are you sure you want to destroy user '#{user.name}'?" } if (is_admin? || is_owner?(user.id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
