<% append_title('Order from Local Restaurants!') %>
<% append_section_class('homepage') %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  Easy-Order, the easiest way to order out! 
  <br />
  We remember your order information, so take-out takes one click!
</p>
<div class="subsection">
  <h1>Easy!</h1> 
  <!-- Modified from: http://serc.carleton.edu/ -->
  <%= image_tag "map.png", alt: "No maps!" %>
  <!-- Modified from: http://www.psdgraphics.com/ -->
  <%= image_tag "card.png", alt: "No cards!" %>
  <p>
    Placing an order is as simple as picking a restaurant and choosing 
    from their menu. No more worrying about credit cards or delivery 
    instructions! 
  </p>
</div>
<div class="subsection">
  <h1>Many Options!</h1> 
  <!-- Modified from: http://turnlol.com/ -->
  <%= image_tag "pizza.png" %>
  <p>
    Easy-Order helps with orders from local businesses as well as 
    chain restaurants. Whether you're in the mood for local chinese food 
    or Domino's, we've got you covered!
  </p>
</div>
<div class="subsection">
  <h1>Sign up Today!</h1>
  Signing up is as simple as: 
  <ol>
    <li>Opening an account.</li>
    <li>Specifying a default payment option.</li>
    <li>Supplying a default delivery address.</li>
  </ol>
  <% unless is_logged_in? %>
  <%= link_to "Get started", new_user_path %> now! 
  <% end %>
</div>
