<p id="notice"><%= notice %></p>

<%= button_to 'Add Line Item', new_order_line_item_path(@order.id), method: :get %>


<div class="order">
<div class="info">
  <h1>Details for Order #<%= @order.id %></h1>
  <p>
    <strong>Restaurant:</strong>
    <%= link_to @order.restaurant.name, @order.restaurant %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= link_to @order.organizer.name, @order.organizer %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @order.type %>
  </p>

  <p>
    <strong>Line Items:</strong>
    <ul class="line_items">
    <% @participant_line_items.each do |participant, line_items| %>
    <li>
      <%= link_to participant.user.name, participant.user %>
      <ul>
      <% line_items.each do |line_item| %>
      <li class="line_item">
        <%= line_item.name %>, <%= number_to_currency line_item.price %>
        <%= link_to 'Show', [@order, line_item] %>, 
        <%= link_to 'Edit', [:edit, @order, line_item] %>, 
        <%= link_to 'Destroy', [@order, line_item], method: :delete, data: { confirm: "Are you sure you want to destroy line item '#{line_item.name}'?" } %></td>
        
      </li>
      <% end %>
      <li><em>Total: </em><%= number_to_currency participant.total %></li>
      </ul>
    </li>
    <% end %>
    </ul>
  </p>
    
  <p>
    <em><strong>Grand Total:</strong></em>
    <%= number_to_currency @order.total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @order.status %>
  </p>

  <p>
    <strong><span id="order_timer_label">Placed at:</span></strong>
    <script>
      $(document).ready(function() {
        // Start the timer
        startTimer("#order_timer_label", "#order_timer", <%= @order.placed_at.to_i * 1000 %>);
      })
    </script>
    <span id="order_timer"><%= l @order.placed_at, format: :long %></span>
  </p>

</div>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
