<%= form_for(@restaurant, html: {multipart: true}) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Fields marked with a (*) are required.
  </p>

  <div class="field">
    <%= f.label :name, "Name *" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :cuisine, "Cuisine *" %><br>
    <%= f.select :cuisine, @all_cuisines, {include_blank: true} %>
  </div>
  <fieldset>
    <legend>Address</legend>
    <div class="field">
      <%= f.label :street1, "Street address *" %><br>
      <%= f.text_field :street1 %><br>
      <%= f.text_field :street2 %>
    </div>
    <div class="field city">
      <%= f.label :city, "City *" %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field state">
      <%= f.label :state, "State *" %><br>
      <%= f.text_field :state %>
    </div>
    <div class="field zip">
      <%= f.label :zipcode, "Zip *" %><br>
      <%= f.number_field :zipcode %>
    </div>
  </fieldset>
  <div class="field">
    <%= f.label :phone, "Phone *" %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.phone_field :fax %>
  </div>
  <div class="field">
    <%= f.label :url, "URL *" %><br>
    <%= f.url_field :url %>
  </div>
  <div class="field">
    <%= f.label :delivers, "Delivery?" %>
    <%= f.check_box :delivers %>
    <div class="field delivery_charge">
      <%= f.label :delivery_charge, "Charge" %>
      <%= f.number_field :delivery_charge %>
    </div>
  </div>
  <div class="field">
    Upload <%= "new" if @restaurant.menu %> menu: 
    <%= f.file_field("uploaded_menu") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
