<% append_title('Restaurants') %>

<%= button_to 'Add Restaurant', new_restaurant_path, method: :get %>

<ul class="restaurant_list">
  <li>
    <div class="view_by">
      Sort by: <%= sortable 'name' %>
               <%= sortable 'cuisine' %>
    </div>
  </li>
  
  <% @restaurants.each do |restaurant| %>
  <li class="restaurant">
    <div class="info">
      <h1><%= restaurant.name %></h1>
      <dl>
        <dt>Address:</dt>
          <dd><%= restaurant.street1 %></dd>
          <% if restaurant.street2 %>
          <dd><%= restaurant.street2 %></dd>
          <% end %>
        <dt>Cuisine Type:</dt>
          <dd><%= restaurant.cuisine %></dd>
        <dt>Delivery? </dt>
          <dd><%= restaurant.delivers ? "Yes" : "No" %></dd>
        <% if restaurant.delivers? %>
        <dt>Delivery Charge:</dt>
          <dd><%= number_to_currency restaurant.delivery_charge %></dd>
        <% end %>
        <dt>Phone Number:</dt>
          <dd><%= restaurant.phone %></dd>
        <% unless restaurant.fax.blank? %>
        <dt>Fax Number:</dt>
          <dd><%= restaurant.fax %></dd>
        <% end %>
        <dt>Website:</dt>
          <% url = restaurant.url %>
          <% url = /^http/.match(url) ? url : "http://#{url}" %>
          <dd><%= link_to restaurant.url, url %></dd>
      </dl>
    </div>
    <div class="options">
      <span class="option"><%= link_to 'Show', restaurant %></span>
      <span class="option"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></span>
      <span class="option"><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: "Are you sure you want to destroy restaurant '#{restaurant.name}'?" } %></span>
    </div>
  </li>
  <% end %>
</ul>
