<% append_title('Restaurants') %>

<%= button_to 'Add Restaurant', new_restaurant_path, method: :get %>

<ul class="restaurant_list">
  <li>
    <div class="view_by">
      Sort by: <%= sortable 'name' %>
               <%= sortable 'delivers', 'Delivery' %>
    </div>
    <div class="search">
      Filter by: 
      <%= select "search", "cuisine", (@all_cuisines.unshift "- cuisine -") %>
      <%= select "search", "city", (@all_cities.unshift "- city -") %>
      <%= select "search", "state", (@all_states.unshift "- state -") %>
      <script>
      $(document).ready(function() {
        $("#search_cuisine").on("change", restaurantSearch);
        $("#search_city").on("change", restaurantSearch);
        $("#search_state").on("change", restaurantSearch);
      });
      </script>
    </div>
  </li>
  
  <% @restaurants.each do |restaurant| %>
  <li class="restaurant" data='{"cuisine" : "<%= restaurant.cuisine %>", "city" : "<%= restaurant.city %>", "state" : "<%= restaurant.state %>"}'>
    <div class="info">
      <h1><%= restaurant.name %></h1>
      <dl>
        <dt>Address:</dt>
          <dd><%= restaurant.street1 %></dd>
          <% if restaurant.street2 %>
          <dd><%= restaurant.street2 %></dd>
          <% end %>
          <dd><%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %></dd>
        <dt>Cuisine Type:</dt>
          <dd><%= restaurant.cuisine %></dd>
        <dt>Delivery? </dt>
          <dd><%= restaurant.delivers ? "Yes" : "No" %></dd>
        <% if restaurant.delivers? %>
        <dt>Delivery Charge:</dt>
          <dd><%= number_to_currency restaurant.delivery_charge %></dd>
        <% end %>
        <dt>Phone Number:</dt>
          <dd><%= restaurant.phone %></dd>
        <% unless restaurant.fax.blank? %>
        <dt>Fax Number:</dt>
          <dd><%= restaurant.fax %></dd>
        <% end %>
        <dt>Website:</dt>
          <% url = restaurant.url %>
          <% url = /^http/.match(url) ? url : "http://#{url}" %>
          <dd><%= link_to restaurant.url, url %></dd>
        <% if restaurant.menu%>
        <dt>Menu:</dt>
          <dd><%= link_to restaurant.menu.name, restaurant_menu_path(restaurant.id) %></dd>
        <% end %>
      </dl>
    </div>
    <div class="options">
      <span class="option"><%= link_to 'Show', restaurant %></span>
      <span class="option"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></span>
      <span class="option"><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: "Are you sure you want to destroy restaurant '#{restaurant.name}'?" } %></span>
    </div>
  </li>
  <% end %>
</ul>
