<%= form_for [@order, @line_item] do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    Fields marked with a (*) are required.
  </p>

  <div class="field">
    <%= f.label :participant_id, "Participant *" %><br>
    <%= f.select :participant_id, @participants %>
  </div>
  <div class="field name">
    <%= f.label :name, "Name *" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field price">
    <%= f.label :price, "Price *" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field notes">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
