<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= link_to @line_item.participant.user.name, @line_item.participant.user %>
</p>

<p>
  <strong>Order:</strong>
  <%= link_to ("#" + @line_item.order.id.to_s), @line_item.order %>
</p>

<p>
  <strong>Name:</strong>
  <%= @line_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @line_item.price %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @line_item.notes %>
</p>

<%= link_to 'Edit', edit_order_line_item_path(@order, @line_item) %> |
<%= link_to 'Back', @order %>
